/* IMAGEM ESTILOS */

img {
  width: 100%;
}

.dsell-img-1 {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* ALINHAMENTO TEXTO */

.dsell-text-left {
  text-align: left;
}

.dsell-text-right {
  text-align: right;
}

.dsell-text-center {
  text-align: center;
}

/* GAP */

.dsell-gap-none {
  gap: 0px;
}

.dsell-gap-small {
  gap: 8px;
}

/* PD-S: PADDING SECTION */

.dsell-pd-s-none {
  padding-top: 0px;
  padding-bottom: 0px;
}

.dsell-pd-s-small {
  padding-top: 16px;
  padding-bottom: 16px;
}

.dsell-pd-s-medium {
  padding-top: 24px;
  padding-bottom: 24px;
}

.dsell-pd-s-large {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* ESTILOS DE SESSÕES */

.dsell-s-01 {
  display: flex;
  flex-direction: column;
}

.dsell-s-02 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dsell-s-02 > .div-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
  gap: 8px;
}

@media (max-width: 760px) {
  .dsell-s-02 {
    grid-template-columns: 1fr;
  }
  
  .dsell-s-02 > .div-text {
  padding: 0px
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 8px;
  }
}




