/* DESKTOP PREVIA BUBBLE */

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 150%;
}

/* DESKTOP */

.dsell-md-text-left {
  text-align: left;
}

.dsell-md-text-right {
  text-align: right;
}

.dsell-md-text-center {
  text-align: center;
}

.dsell-md-text-center {
  text-align: center;
}

.dsell-md-aspect-1 {
  aspect-ratio: 16 / 9;
}

.dsell-md-aspect-2 {
  aspect-ratio: 1 / 1;
}

.dsell-md-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas iguais */
  align-items: center;
}

.dsell-md-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* duas colunas iguais */
  align-items: center;
}

.dsell-md-order-1 {
  order: 1;
}

.dsell-md-object-cover {
  object-fit: cover;
}

.dsell-md-w-full {
  width: 100%;
}

.dsell-md-pl-24 {
  padding-left: 24px;
}

.dsell-md-pt-24 {
  padding-top: 24px;
}

.dsell-md-pb-24 {
  padding-bottom: 24px;
}

.dsell-md-top-8 {
  top: 8px;
}

.dsell-md-left-8 {
  top: 8px;
}

.dsell-md-gap-32 {
  gap: 32px;
}


/* MOBILE PREVIA BUBBLE */

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 150%;
}

/* MOBILE */

.dsell-text-right {
  text-align: right;
}

.dsell-text-left {
  text-align: left;
}

.dsell-text-center {
  text-align: center;
}

.dsell-aspect-1 {
  aspect-ratio: 16 / 9;
}

.dsell-aspect-2 {
  aspect-ratio: 1 / 1;
}

.dsell-grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.dsell-order-1 {
  order: 1;
}

.dsell-w-full {
  width: 100%;
}

.dsell-pt-24 {
  padding-top: 24px;
}

.dsell-pt-24 {
  padding-top: 24px;
}

.dsell-pb-24 {
  padding-bottom: 24px;
}

/* CMP CUSTOM 01 */

.dsell-custom01-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* tres colunas iguais */
  align-items: center;
  gap: 32px;
}

.dsell-custom01-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
}

.dsell-custom01-grid-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas iguais */
  align-items: center;
  gap: 3px;
}

.dsell-custom01-grid-item-left {
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.dsell-custom01-grid-item-right {
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.dsell-custom01-item-img {
  object-fit: cover;
  height: 176px;
  width: 100%;
}

.dsell-custom01-item-tag {
  position: absolute;
  border-radius: 9999px;
  padding: 8px;
  top: 8px;
  left: 8px;
  background-color: #fff;
}

.dsell-custom01-info-tratamento {
  display: flex;
  align-items: center;
  gap: 12px;
}
